<header class="header-nav header-transparent fixed-header">
  <div class="fixed-header-bar">
    <nav class="container d-flex justify-content-between">
      <div>
        <img height="95" src="assets/in_unity-we-rebuild-logo.jpg" alt="in_unity-we-rebuild-logo">
        <a class="navbar-brand" href="#">
          In Unity, We Rebuild
        </a>
      </div>
      <div class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li>
            </ul>
          </div> -->
        </div>
      </div>
    </nav>
  </div>
</header>
<main>
  <section class="section gray-bg">
    <div class="container">

      <div class="md-m-25px-b m-45px-b">
        <div class="">
          <h3 class="h1 mt-3 mb-3">Israel, October 7, 2023.</h3>
          <div class="lead">
            <p>
              <a href="https://en.wikipedia.org/wiki/Simchat_Torah">Holiday of Simchat Tora.</a>
              A day that is meant for celebration, family, and prayer. <br />
            </p>

            <p>

              At 6:30am, A shocking sound of alarm wakes up the civilians, missiles attack all over the country. More
              than
              2000 HAMAS-ISIS terrorists attacked Israel, crossing the border into civilian villages where families were
              sleeping. More than 1,000 – babies to elderly people were murdered. Cruelty beyond words.
            </p>
            <p>
              Israel is fighting to defend itself
              In its scale, this massacre reminds one of the holocaust.
              And this is why Israelis are so shaken, because Israel was established on the promise of “never again” and
              on Saturday that promise crumbled.
              We need to renew the promise of Israel to its citizens.
            </p>
            <p>
              You were in personal contact with Eran Perelman (CC’d), who in the last few days established a
              humanitarian
              relief platform to raise donations to known aid organizations
            </p>
            <p>
              If you find this of interest, we will be happy to send you a list of carefully selected organizations,
              which
              we trust and we promise to monitor the donations for making sure they will be used for the best possible
              humanitarian relief targets.

            </p>

          </div>
        </div>
      </div>
      <div class="video-section">
        <video src="assets/speech.mp4" type="video/mp4" controls></video>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="row md-m-25px-b m-45px-b justify-content-center text-center ">
        <div class="col-lg-9">
          <h3 class="h1 mt-3 mb-3"><mark>Raise Funds</mark> Join The Effort</h3>
          <p class="lead">With <a href="">some website</a> texts texts texts texts texts texts texts texts texts texts
            texts texts
            texts texts texts texts texts texts texts texts texts texts texts texts
            texts textstexts texts texts texts texts texts texts texts texts texts texts texts
          </p>
        </div>
      </div>
      <div class="institutions-box-container">
        <div class="institution-box" *ngFor="let institute of institutions">
          <div class="institution-box-img">
            <img [src]="institute.imgurl" title="" [alt]="institute.name">
          </div>
          <div class="portfolio-info text-center max125">
            <div class="ribbon2 angle-text ng-binding ng-hide"></div>
            <h5><a target="_blank" [href]="institute.href" class="ng-binding">
                {{ institute.text + institute.name }}</a></h5>
            <div class="nav justify-content-center">
              <a target="_blank" [href]="institute.href">
                <div class="progress-container">
                  <div class="fundraisinggoal ng-binding">
                    <b class="ng-binding">{{ institute.targetText }}</b>
                  </div>
                  <div class="progress-bar" id="nogoal">
                    <div class="progress-bar-inner" data-level="61%" style="width: 61%;">
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="section gray-bg">
    <div class="container">
      <div class="photos-box-container">
        <div class="photo-box" *ngFor="let photo of photos">
          <div class="photo-box-img">
            <img [src]="photo" title="" [alt]="photo">
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- <section class="section">
    <div class="container"></div>
  </section>
  <section class="section gray-bg">
    <div class="container"></div>
  </section> -->
</main>
<footer class="dark-bg footer">
  <div class="footer-top">
    <div class="container">
      <div class="d-flex">
        <div class="m-15px-tb d-flex">
          <div class="m-15px-b me-2">
            <img class="logo-light" src="assets/in_unity-we-rebuild-logo.jpg" style="height:120px;" title="" alt="">
          </div>
          <div class="d-flex justify-content-center flex-column">
            <div class="m-15px-tb me-2" style="display: flex; align-items: center;">
              <ul class="list-unstyled links-white footer-link-1">
                <li>
                  <a href="">Tel:</a>
                </li>
                <li>
                  <a href="">inunitywerebuild@gmail.com</a>
                </li>
              </ul>
            </div>
            <div class="text-md-right">
              <p class="m-0px white-color-light small">In Unity, We Rebuild 2023</p>
            </div>
            <div class="text-md-right d-flex align-items-center">
              <ul
                class="nav justify-content-center justify-content-md-start m-5px-tb links-white font-small footer-link-1">
                <li><a
                    href="http://help.giving.technology/he/articles/5080447-general-terms-of-use-and-privacy-policy">Terms
                    of use</a>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</footer>