.fixed-header {
    box-shadow: 0 0.375rem 1.5rem 0 rgb(140 152 164 / 13%);
}

.fixed-header .fixed-header-bar {
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    box-shadow: 0 0 64px 0 rgb(22 28 45 / 5%);
}

.fixed-header-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
    height: 95px;
}

main {
    margin-top: 50px;
}


video {
    width: 100%;
}

.section {
    padding: 25px;
    padding-bottom: 0;
}


.gray-1-bg {
    background-color: #dce0ff;
}

.gray-bg {
    background-color: #f2f3fa;
}

.dark-bg {
    background-color: #f7f7f7;
}

.footer .footer-top {
    padding-bottom: 0px;
}

.footer .footer-top {
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer .footer-border-light {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
}

.m-0px {
    margin: 0px;
}

.font-2 {
    font-size: 1.1rem;
}

p {
    color: #718096;
    font-weight: 400 !important;
}

h3 {
    padding: 15px;
}

.established-row-section {
    padding-bottom: 25px !important;
}

.established-row {
    text-align: center;
}

.established-row .contributors {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    flex-wrap: wrap;
}

.established-row .contributors .contributor {
    width: 25%;
    display: flex;
    flex-direction: column;
}


@media (max-width: 1000px) {
    .established-row .contributors .contributor {
        width: 48%;
        margin-bottom: 18px;
    }
}


/* @media (max-width: 768px) {
    .contributor {
        width: 100%;
    } */

.established-row .contributors .contributor .linkdin-icon-container {
    display: flex;
    flex-direction: column;
}

.established-row .contributors .contributor .linkdin-icon-container .linkdin-icon {
    height: 28px;
    width: 28px;
    border-radius: 9999px;

}

.established-row .contributors .contributor a {
    text-decoration: none;
    font-size: small;
    color: #718096;
}

.established-row .contributors .contributor a:hover {
    text-decoration: underline;
}

.institutions-box-container {
    margin-top: 25px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.institution-box {
    cursor: pointer;
    max-height: 400px;
    width: 32%;
    border-radius: 10px;
    overflow: hidden;
    background: #ffffff;
    padding-bottom: 8px;
    margin-bottom: 35px;
    margin-left: 8px;
    min-height: 175px;
}

.institution-box:hover {
    opacity: 0.8;
    transition: 0.4 ease all;
}

.institution-box .institution-box-img img {
    width: 100%;
    height: 240px;
    overflow: hidden;
}

.max240 {
    height: 240px;
    width: 100%;
}

.card-img-top {
    height: 220px;
}

.institution-box .portfolio-info {
    padding-right: 10px;
    padding-left: 10px;
}

.institution-box .portfolio-info {
    padding: 20px;
}

.text-center {
    text-align: center !important;
}

.max125 {
    height: 125px;
}

.institution-box .portfolio-info .nav a {
    background: #53d267;
    color: #ffffff;
    padding: 3px 15px;
    border-radius: 25px;
    font-size: 0.80rem;
    margin-right: 8px;
    margin-top: 5px;

}

.container {
    max-width: 960px;
}

.progress-container {
    padding: 10px;
}

a {
    text-decoration: none;
}

.institution-box .portfolio-info .nav a {
    background: #0029a3 !important;
}

.institution-box .portfolio-info h5 a {
    color: #152c5b;
}

.photos-box-container {
    margin-top: 25px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photo-box {
    cursor: pointer;
    max-height: 400px;
    width: 32%;
    border-radius: 10px;
    overflow: hidden;
    background: #ffffff;
    padding-bottom: 8px;
    margin-bottom: 35px;
}


.causes-box-container {
    margin-top: 25px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cause-box {
    width: 30%;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cause-box h4 {
    color: #f2f3fa;
}

@media (max-width: 1000px) {
    .institution-box {
        width: 48%;
    }
}


@media (max-width: 768px) {
    .institution-box {
        width: 100%;
    }

    .cards-section {
        padding: 0px;
    }

    .cause-box h4 {
        font-size: small;
    }
}