.fixed-header {
    box-shadow: 0 0.375rem 1.5rem 0 rgb(140 152 164 / 13%);
}

.fixed-header .fixed-header-bar {
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    box-shadow: 0 0 64px 0 rgb(22 28 45 / 5%);
}

.fixed-header-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
    height: 95px;
}

main {
    margin-top: 50px;
}

.video-section {
    margin: 50px auto;
    text-align: center;
}

.section {
    padding: 50px;
    padding-bottom: 0;
}

@media (max-width: 576px) {
    .section {
        /* height: 930px; */
        padding: 25px;
    }

    .video-section {
        display: none;
    }
}

@media (max-width: 768px) {
    .section {
        padding: 25px;
    }

    .video-section {
        margin: unset;
        text-align: unset;
    }
}


.gray-bg {
    background-color: #f2f3fa;
}

.dark-bg {
    background-color: #152c5b;
}

.footer .footer-top {
    padding-bottom: 0px;
}

.footer .footer-top {
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer .footer-border-light {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
}

.m-0px {
    margin: 0px;
}

.font-2 {
    font-size: 1.1rem;
}

p {
    color: #718096;
    font-weight: 400 !important;
}

h3 {
    padding: 15px;
}

.institutions-box-container {
    margin-top: 50px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.institution-box {
    cursor: pointer;
    max-height: 400px;
    width: 30%;
    border-radius: 10px;
    overflow: hidden;
    background: #ffffff;
    padding-bottom: 8px;
    margin-bottom: 35px;
}

.institution-box:hover {
    opacity: 0.8;
    transition: 0.4 ease all;
}

.institution-box .institution-box-img img {
    width: 100%;
    height: 240px;
    overflow: hidden;
}

.max240 {
    height: 240px;
    width: 100%;
}

.institution-box .portfolio-info {
    padding-right: 10px;
    padding-left: 10px;
}

.institution-box .portfolio-info {
    padding: 20px;
}

.text-center {
    text-align: center !important;
}

.max125 {
    height: 125px;
}

.institution-box .portfolio-info .nav a {
    background: #53d267;
    color: #ffffff;
    padding: 3px 15px;
    border-radius: 25px;
    font-size: 0.80rem;
    margin-right: 8px;
    margin-top: 5px;
}

.progress-container {
    padding: 10px;
}

a {
    text-decoration: none;
}

.institution-box .portfolio-info .nav a {
    background: #0029a3 !important;
}

.institution-box .portfolio-info h5 a {
    color: #152c5b;
}