<header class="header-nav header-transparent fixed-header">
  <div class="fixed-header-bar">
    <nav class="container d-flex justify-content-between">
      <div>
        <img height="95" src="assets/in_unity-we-rebuild-logo.jpg" alt="in_unity-we-rebuild-logo">
        <a class="navbar-brand" href="#">
          In Unity, We Rebuild
        </a>
      </div>
      <div class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> -->
          <!-- <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li>
            </ul>
          </div> -->
        </div>
      </div>
    </nav>
  </div>
</header>
<main>
  <section class="section gray-bg">
    <div class="container">

      <div class="md-m-25px-b m-45px-b">
        <div class="">
          <h3 class="h1 mt-3 mb-3">Israel, October 7, 2023.</h3>
          <div class="lead">
            <p>
              <a href="https://en.wikipedia.org/wiki/Simchat_Torah">Holiday of Simchat Tora.</a>
              A day that is meant for celebration, family, and prayer. <br />
            </p>
            <p>
              At 6:30am, A shocking sound of alarm wakes up the civilians, missiles attack all over the country. More
              than
              2000 HAMAS-ISIS terrorists attacked Israel, crossing the border into civilian villages where families were
              sleeping. More than 1,000 - babies to elderly people were murdered. Cruelty beyond words.
            </p>
            <p>
              Israel is fighting to defend itself
              In its scale, this massacre reminds one of the holocaust.
              And this is why Israelis are so shaken, because Israel was established on the promise of “never again” and
              on Saturday that promise crumbled.
              We need to renew the promise of Israel to its citizens.
            </p>
            <p>
              You were in personal contact with Eran Perelman (CC`d), who in the last few days established a
              humanitarian
              relief platform to raise donations to known aid organizations
            </p>
            <p>
              If you find this of interest, we will be happy to send you a list of carefully selected organizations,
              which
              we trust and we promise to monitor the donations for making sure they will be used for the best possible
              humanitarian relief targets.
            </p>
          </div>
        </div>
      </div>
      <div class="video-section">
        <video src="assets/speech.mp4" type="video/mp4" autoplay muted controls></video>
      </div>
    </div>
  </section>
  <section class="section cards-section">
    <div class="container">
      <div class="row md-m-25px-b m-45px-b justify-content-center text-center ">
        <div class="col-lg-9">
          <h3 class="h1 mt-3 mb-3">How can you make a difference</h3>
          <p class="lead">We invite you to stand with us and empower the Israeli people.
            <br />For details & guidance contact us @ <a href="mailto:inunitywerebuild@gmail.com">inunitywerebuild@gmail.com</a> <br />
            Your donation can be
            directed towards various essential causes of your choice, including:
          </p>
        </div>
      </div>
      <div class="institutions-box-container">
        <div class="institution-box" *ngFor="let institute of institutions">
          <div class="card" style="height: 100%;">
            <img [src]="institute.imgurl" class="card-img-top" [alt]="institute.name" />
            <div class="card-body d-flex flex-column justify-content-between">
              <h5 class="card-title">{{ institute.text + institute.name }}</h5>
              <a target="_blank" [href]="institute.href" class="btn btn-primary">Visit the website</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section gray-bg">
    <div class="container">
      <div class="row md-m-25px-b m-45px-b justify-content-center text-center">
        <div class="col-lg-9">
          <h3 class="h1 mt-3 mb-3">Your Contribution. Their Hope</h3>
          <p class="lead">
            Let us demonstrate our unity and solidarity during this challenging time.
            <br />
            Your donation counts!
            <br />For details & guidance contact us @ <a href="mailto:inunitywerebuild@gmail.com">inunitywerebuild@gmail.com</a> <br />
          </p>
        </div>
      </div>
      <div class="causes-box-container">
        <div class="cause-box" *ngFor="let cause of causes" [style.background-color]="cause.color">
          <div style="text-align: center;">
            <h4>{{ cause.name }}</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="section gray-bg">
    <div class="container">
      <div class="row md-m-25px-b m-45px-b justify-content-center text-center">
        <div class="col-lg-9">
          <h3 class="h1 mt-3 mb-3">Your Contribution. Their Hope</h3>
          <p class="lead">
            Let us demonstrate our unity and solidarity during this challenging time.
          </p>
        </div>
      </div>
      <div class="photos-box-container">
        <div class="photo-box" *ngFor="let photo of photos">
          <div class="photo-box-img">
            <img [src]="photo" title="" [alt]="photo">
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <section class="section">
    <div class="container">
      <div class="row md-m-25px-b m-45px-b justify-content-center text-center">
        <div class="col-lg-9">
          <h3 class="h1 mt-3 mb-3">Let Us Stand Together</h3>
          <p class="lead">
            Let us demonstrate our unity and solidarity during this challenging time.
          </p>
          <div class="justify-content-center text-center">
            <h4>Thank you from the team of</h4>
            <br />
            <h5>In Unity, We Rebuild</h5>
          </div>
          <div style="height: 50px;"></div>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="section gray-bg">
    <div class="container"></div>
  </section> -->
</main>
<footer class="dark-bg footer">
  <div class="footer-top">
    <div class="container">
      <div class="d-flex">
        <div class="m-15px-tb d-flex">
          <div class="m-15px-b me-2">
            <img class="logo-light" src="assets/in_unity-we-rebuild-logo.jpg" style="height:120px;" title="" alt="">
          </div>
          <div class="d-flex justify-content-center flex-column">
            <div class="m-15px-tb me-2" style="display: flex; align-items: center;">
              <ul class="list-unstyled links-white footer-link-1">
                <!-- <li>
                  <a href="">Tel: 999-999-9999</a>
                </li> -->
                <li>
                  <a href="mailto:inunitywerebuild@gmail.com">inunitywerebuild@gmail.com</a>
                </li>
              </ul>
            </div>
            <div class="text-md-right">
              <p class="m-0px white-color-light small">In Unity, We Rebuild 2023</p>
            </div>
            <!-- <div class="text-md-right d-flex align-items-center">
              <ul
                class="nav justify-content-center justify-content-md-start m-5px-tb links-white font-small footer-link-1">
                <li><a
                    href="http://help.giving.technology/he/articles/5080447-general-terms-of-use-and-privacy-policy">Terms
                    of use</a>
                </li>
              </ul>
            </div> -->
          </div>

        </div>
      </div>
    </div>
  </div>
</footer>