<header class="header-nav header-transparent fixed-header">
  <div class="fixed-header-bar">
    <nav class="container d-flex justify-content-between">
      <div>
        <img height="95" src="assets/in_unity-we-rebuild-logo.jpg" alt="in_unity-we-rebuild-logo">
        <a class="navbar-brand" href="#">
          In Unity, We Rebuild
        </a>
      </div>
      <div class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> -->
          <!-- <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li>
            </ul>
          </div> -->
        </div>
      </div>
    </nav>
  </div>
</header>
<main>
  <section class="section gray-bg">
    <div class="container">

      <div class="md-m-25px-b m-45px-b">
        <div class="">
          <h3 class="h1 mt-3 mb-3">Israel, October 7, 2023.</h3>
          <div class="lead">
            <p>
              <a href="https://en.wikipedia.org/wiki/Simchat_Torah">Holiday of Simchat Tora.</a>
              A day that is meant for celebration, family, and prayer. <br />
            </p>
            <p>
              At 6:30am, A shocking sound of alarm wakes up the civilians, missiles attack all over the country. More
              than
              2000 HAMAS-ISIS terrorists attacked Israel, crossing the border into civilian villages where families were
              sleeping. More than 1,000 - babies to elderly people were murdered. Cruelty beyond words.
            </p>
            <p>
              Israel is fighting to defend itself
              In its scale, this massacre reminds one of the holocaust.
              And this is why Israelis are so shaken, because Israel was established on the promise of “never again” and
              on Saturday that promise crumbled.
              We need to renew the promise of Israel to its citizens.
            </p>
            <p>
              Eran Perelman established a relief platform to raise donations to known aid organizations.
            </p>
            <p>
              If you find this of interest, we will be happy to send you a list of carefully selected organizations,
              which
              we trust and we promise to monitor the donations for making sure they will be used for the best possible
              humanitarian relief targets.
            </p>
          </div>
        </div>
      </div>
      <div class="mapping-link">
        <a href="https://oct7map.com/" target="_blank">
          <h3>Click to view the Mapping Of The Massacre</h3>
        </a>
      </div>

      <div class="video-section">
        <video src="assets/speech.mp4" type="video/mp4" muted controls></video>
      </div>
    </div>
  </section>
  <section class="section gray-1-bg established-row-section">
    <div class="established-row">
      <h3 class="h1 mt-3 mb-3">Our team is headed by</h3>
      <div class="contributors">
        <div class="contributor" *ngFor="let contributor of contributors">
          {{ contributor.name }}
          <div class="linkdin-icon-container" *ngIf="contributor.linkedin">
            <a [href]="contributor.linkedin">
              <svg class="linkdin-icon" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill="#2A67BC" d="M0 0h20v20H0z"></path>
                <path
                  d="M6.894 14.99H4.56V7.489h2.334v7.5zM5.727 6.464a1.351 1.351 0 11-.002-2.702 1.351 1.351 0 01.003 2.702zm9.898 8.526h-2.331v-3.648c0-.87-.015-1.989-1.211-1.989-1.214 0-1.399.948-1.399 1.927v3.71H8.357V7.489h2.235v1.025h.032c.31-.59 1.07-1.211 2.205-1.211 2.36 0 2.797 1.553 2.797 3.573v4.114z"
                  fill="#fff"></path>
              </svg>
              <a style="margin-left: 5px;" [href]="contributor.linkedin">Linkedin</a>
            </a>
          </div>
          <div class="linkdin-icon-container" *ngIf="contributor.facebook">
            <a [href]="contributor.facebook">
              <svg class="linkdin-icon" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M20 10c0-5.523-4.477-10-10-10S0 4.477 0 10c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V10h2.54V7.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V10h2.773l-.443 2.89h-2.33v6.988C16.343 19.128 20 14.991 20 10z"
                  fill="#1877F2"></path>
                <path
                  d="M13.893 12.89l.443-2.89h-2.774V8.124c0-.79.388-1.562 1.63-1.562h1.261v-2.46s-1.144-.196-2.238-.196c-2.285 0-3.777 1.385-3.777 3.89V10h-2.54v2.89h2.54v6.988a10.073 10.073 0 003.124 0v-6.987h2.33z"
                  fill="#fff"></path>
              </svg>
              <a style="margin-left: 5px;" [href]="contributor.facebook">Facebook</a>
            </a>
          </div>
        </div>
      </div>
      <h4>which have initiated the platform In Unity, We Rebuild</h4>
    </div>
  </section>
  <section class="section cards-section">
    <div class="container">
      <div class="row md-m-25px-b m-45px-b justify-content-center text-center causes-sesction">
        <div class="col-lg-9">
          <p>
            The atrocities witnessed in Israel on October 7th are indescribable. Each day brings more heart-wrenching
            news, leaving us in deep despair.
          </p>
          <div style="text-align: center;">
            <h2>Stand with us your way!</h2>
            <div>
              <h3>How can you stand with us?</h3>
            </div>
            <div>
              <h3>How can you make a difference?</h3>
            </div>
            <div>
              <h3>How can you be certain your donation will reach the specific cause you choose?</h3>
            </div>
          </div>
          <p>
            Below, you'll find the causes we've meticulously chosen and verified.
            To assist in overseeing your donation, kindly send us an email to: <a
              href="mailto:inunitywerebuild@gmail.com">inunitywerebuild@gmail.com</a>
          </p>
        </div>
      </div>
      <div class="institutions-box-container">
        <div class="institution-box" *ngFor="let institute of institutions">
          <div class="card" style="height: 100%;">
            <img [src]="institute.imgurl" class="card-img-top" [alt]="institute.name" />
            <div class="card-body d-flex flex-column justify-content-between">
              <h5 class="card-title">{{ institute.text + institute.name }}</h5>
              <a target="_blank" [href]="institute.href" class="btn btn-primary">Visit the website</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section gray-bg">
    <div class="container">
      <div class="row md-m-25px-b m-45px-b justify-content-center text-center">
        <div class="col-lg-9">
          <h3 class="h1 mt-3 mb-3">Your Contribution. Their Hope</h3>
          <div class="mapping-link">
            <a href="https://oct7map.com/" target="_blank">
              <h3>Click to view the Mapping Of The Massacre</h3>
            </a>
          </div>
          <p class="lead">
            Let us demonstrate our unity and solidarity during this challenging time.
            <br />
            Your donation counts!
            <br />For details & guidance contact us @ <a
              href="mailto:inunitywerebuild@gmail.com">inunitywerebuild@gmail.com</a> <br />
          </p>
        </div>
      </div>
      <div class="causes-box-container">
        <div class="cause-box" *ngFor="let cause of causes" [style.background-color]="cause.color">
          <div style="text-align: center;">
            <h4>{{ cause.name }}</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="section gray-bg">
    <div class="container">
      <div class="row md-m-25px-b m-45px-b justify-content-center text-center">
        <div class="col-lg-9">
          <h3 class="h1 mt-3 mb-3">Your Contribution. Their Hope</h3>
          <p class="lead">
            Let us demonstrate our unity and solidarity during this challenging time.
          </p>
        </div>
      </div>
      <div class="photos-box-container">
        <div class="photo-box" *ngFor="let photo of photos">
          <div class="photo-box-img">
            <img [src]="photo" title="" [alt]="photo">
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <section class="section">
    <div class="container">
      <div class="row md-m-25px-b m-45px-b justify-content-center text-center">
        <div class="col-lg-9">
          <h3 class="h1 mt-3 mb-3">Let Us Stand Together</h3>
          <p class="lead">
            Let us demonstrate our unity and solidarity during this challenging time.
          </p>
          <div class="justify-content-center text-center">
            <h4>Thank you from the team of</h4>
            <br />
            <h5>In Unity, We Rebuild</h5>
          </div>
          <div style="height: 50px;"></div>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="section gray-bg">
    <div class="container"></div>
  </section> -->
</main>
<footer class="dark-bg footer">
  <div class="footer-top">
    <div class="container">
      <div class="d-flex">
        <div class="m-15px-tb d-flex">
          <div class="m-15px-b me-2">
            <img class="logo-light" src="assets/in_unity-we-rebuild-logo.jpg" style="height:120px;" title="" alt="">
          </div>
          <div class="d-flex justify-content-center flex-column">
            <div class="m-15px-tb me-2" style="display: flex; align-items: center;">
              <ul class="list-unstyled links-white footer-link-1">
                <!-- <li>
                  <a href="">Tel: 999-999-9999</a>
                </li> -->
                <li>
                  <a href="mailto:inunitywerebuild@gmail.com">inunitywerebuild@gmail.com</a>
                </li>
              </ul>
            </div>
            <div class="text-md-right">
              <p class="m-0px white-color-light small">In Unity, We Rebuild 2023</p>
            </div>
            <!-- <div class="text-md-right d-flex align-items-center">
              <ul
                class="nav justify-content-center justify-content-md-start m-5px-tb links-white font-small footer-link-1">
                <li><a
                    href="http://help.giving.technology/he/articles/5080447-general-terms-of-use-and-privacy-policy">Terms
                    of use</a>
                </li>
              </ul>
            </div> -->
          </div>

        </div>
      </div>
    </div>
  </div>
</footer>